
body {
    font-family: Arial, sans-serif;
    background-color: #f3f4f6;
    color: #333;
}

header {
    background-color: #3498db;
    color: white;
    text-align: center;
    padding: 20px;
}

header nav ul {
    list-style-type: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

main {
    margin: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    background-color: #3498db;
    color: white;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

h2 {
    color: #3498db;
}

button {
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ddd;
}

input[type="date"], input[type="number"], select {
    width: 48%;
}

